* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin: 10px;
}

.page {
  display: flex;
  justify-content: space-between;
  margin-inline: 40px;
  margin-top: 50px;
}

#code-container {
  width: 70%;
}

a {
  text-decoration: none;
}

li {
  margin-bottom: 8px;
  list-style: none;
}
