* {
  margin: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

body {
  background-image: url("https://raw.githubusercontent.com/NouvelleTechno/Fusee-Volante/master/images/background.png");
  color: white;
  font-weight: bold;
  padding-top: 30px;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.surface {
  position: relative;
  border: solid 5px;
  border-color: rgb(148, 144, 144);
  width: 800px;
  height: 500px;
  background: linear-gradient(
      180deg,
      rgba(9, 20, 46, 0.7) 29%,
      rgba(20, 38, 79, 0.7) 73%,
      rgba(33, 55, 122, 0.7) 95%
    ),
    conic-gradient(
        from -45deg at bottom,
        rgb(88, 83, 83),
        rgb(7, 7, 59) 1deg 89deg,
        rgb(88, 83, 83) 90deg
      )
      80%/100px 100%;
}

.rocket {
  position: absolute;
  width: 60px;
  padding-top: 8px;
}

.cell-star {
  position: absolute;
  font-size: 20px;
}

.cell-meteorite {
  position: absolute;
  font-size: 30px;
}

.img-meteorite {
  width: 30px;
  height: 30px;
}

#score {
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 50px;
  position: relative;
  top: -450px;
  right: -560px;
  width: 200px;
}
